.body_css
{
    
    background-image: url(background.jpeg);
    background-size: cover;

}
.button_submit{
    text-align: center;
    background: transparent;
    
}
#transperant{
    background:transparent;
}
table{
    text-align: center;
    background: transparent;
    height: 400px;
    width:400px;
}
*{
    color: rgb(120, 47, 255);
    font-size: large;
}
.select{
    background:transparent;
}
.contrainer{
    background:url(background.jpeg);
    background-position: inherit;
}
.contrainer a:hover{
    background: azure;
    color:black;
}


span{
    border: 2px solid black;
}
input[type=text] {
    border: 2px solid black;

}
textarea{
    border: 2px solid black;
}
  th, td {
    padding-top: 10px;
    padding-bottom: 20px;
   
  }